/* Write your global styles here, in PostCSS syntax */
@import './variables.postcss';
@import './cards.postcss';
@import './app.postcss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	margin-left: calc(100vw - 100%);
}